streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
chromadb
pypdf
sentence-transformers
python-dotenv
huggingface-hub
tiktoken
groq
faster-whisper
gtts
streamlit-mic-recorder
pydub
torch
transformers
accelerate
numpy
pandas
langchain-text-splitters